
/*for overall body's font, font color and background color*/
body {
  font-family: Georgia, serif;
  background-color: #faebd7;
  color: #3b2f2f;
}

/* Navigation Bar that will remain constant throught all pages*/
.nvibar {
  display: flex;
  justify-content: center;
  background-color: #5c4033;
  padding: 15px 20px;
  border: 2px solid #8b5a2b;
}

.nvibuttons {
  display: flex;
  gap: 10px;
}

.nvibuttons a {
  color: #faebd7;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: transform 1s;

}
/*Animations on navigation button when hovering*/
.nvibuttons a:hover {
  background-color: #8b5a2b;
  transform: scale(1.05);
  border-bottom: 3px solid #faebd7;
}
/*For when a navigation bar is selected*/
.nvibuttons a.rn {
  background-color: #8b5a2b;
}
/*CSS for main introduction section*/
.mainintro {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  background-color: #fff8dc;
  border-bottom: 3px solid #8b5a2b;
  align-items: center;  
}
/*For the first photo that is inside circle*/
.photo1 {
  width: 250px;
  height: 250px;
  border: 5px solid #5c4033;
  border-radius: 50%;
  margin-bottom: 40px;
  background-color: #d2b48c;
  display: flex;
  overflow: hidden;
  margin-left: 80px;
}

.photo1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subintro h1{
  margin-left: 70px;
}
/*For gallery section in first page*/
.gallerysection {
  padding: 25px 10px; 
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.galleryphoto {
  width: 190px;
  background-color: #fff8dc;
  border: 3px solid #8b5a2b;
  padding: 20px; 
  transition: transform 0.3s;
}
.galleryphoto:hover {
  transform: scale(1.27);
}
.galleryphoto img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border: 2px dotted #5c4033;
  background-color: #d2b48c;
}
