
/*for overall body's font, font color and background color*/
body {
  font-family: Georgia, serif;
  background-color: #faebd7;
  color: #3b2f2f;
}

/* Navigation Bar that will remain constant throught all pages*/
.nvibar {
  display: flex;
  justify-content: center;
  background-color: #5c4033;
  padding: 15px 20px;
  border: 2px solid #8b5a2b;
}

.nvibuttons {
  display: flex;
  gap: 10px;
}

.nvibuttons a {
  color: #faebd7;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: transform 1s;

}
/*Animations on navigation button when hovering*/
.nvibuttons a:hover {
  background-color: #8b5a2b;
  transform: scale(1.05);
  border-bottom: 3px solid #faebd7;
}
/*For when a navigation bar is selected*/
.nvibuttons a.active {
  background-color: #8b5a2b;
}
